



/*.rectangle{ background:#ff8800; width:180px; height:120px;position:relative;transform:    skew(-20deg);border-radius: 20px; }*/
/*.rectangle:after{ background:#ff8800; width:120px; height:60px; border-radius:120px 0 0px 120px;position:absolute; }*/

.rectangle{transform: perspective( 600px ) rotateY( -45deg );background:#ff8800;width:180px; height:120px;border-radius: 20px;}
.rectangle .rec2{ transform: perspective( 600px ) rotateY( -45deg );position: absolute; }


.trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100px;
  height: 0;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 100px solid #1abc9c;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}


#blue {
  perspective: 600px;
  margin-left: 150px;
}

#blue .box {
  background-color: blue;
  width: 150px;
  height: 150px;
  transform: rotateY( 45deg );
}


.trap-container {
  position: relative;
  /*Change this to test responsive*/
  width: 400px;
  /*change this to test responsive*/
  height: 150px;
}
.trap-container svg {
  position: absolute;
}
.trap-content {
  display: inline-block;
  position: relative;
  top: 10%;
  height: 80%;
  width: 100%;
  bottom: 10%;
  color: white;
}


/*https://stackoverflow.com/questions/30184622/trapezoid-div-in-css*/