

@font-face {
  font-family: 'FieldRepo';
  src:  url('/frFonts/FieldRepo.eot?qlrfd5');
  src:  url('/frFonts/FieldRepo.eot?qlrfd5#iefix') format('embedded-opentype'),
    url('/frFonts/FieldRepo.woff2?qlrfd5') format('woff2'),
    url('/frFonts/FieldRepo.ttf?qlrfd5') format('truetype'),
    url('/frFonts/FieldRepo.woff?qlrfd5') format('woff'),
    url('/frFonts/FieldRepo.svg?qlrfd5#FieldRepo') format('svg');
  font-weight: normal;
  font-style: normal;
}

