	
@media only screen and (max-width: 1024px) 
 {
   .main_logo{
       width:93%;
   }
   .right_curve .box ul li .sm{
    top:0px;
    right:-13px;
    width:40px; height: 40px; line-height: 34px;
   }
   .offlineMargin{
    
   span{
     font-size:10px;

   }
   label{
    font-size:10px;
   }
    }
    .swiper-button-next-day{
     
      padding-left:6px;
    }
    .containerAppointment{
    .frAppointmentStyle{
      a 
      {   
       img
       {
        width:55%;
        height:117px;
        border-radius: 50%;
       
      }
    }
    .timeStyle{
      span{
        
        margin:0 15px;
        padding:10 0px;
        
      }
      label{
       
          font-weight:200;
      }
      .summaryStyle{
        width:92%;
        line-height: 26px;
        background-color: #dfdfdf;
        margin:2px;
        span{
             
            font-size:14px;
           padding-left:0px;
           i{
             padding:4px;
             font-weight:200;
           }
        }
       
      }
    }
    .sideOverlay{
      &.is_open{
        right:-43px;;
      } 
    }
  }
 }
}