<template name="frAppointmentListing">
	<div class="bread_crumb">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">1st level</a></li>orders
			<li><a href="#">2nd level</a></li>
		</ul>
	</div>
	<ul class="icon_list">
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Select All
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Sort/Filter
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Filter FWD/NFWD
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Edit Route
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					End Trip
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Create Adhoc	
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					04/Nov2017
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Select one
				</a>
			</li>
		</ul>
		<ul class="icon_list">
				<li>	<a href="#">			
							<span>All
							</span>	
						</a>					
					</li>
			<li>
				<a href="#">
					<span class="fr fr-notification filterIconStyle"></span>
					<label>Doctors<br/>
					<span>10</span> </label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					<label>Chemists<br/>
					<span>
					03 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Hospitals<br/>
						<span>
					02 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Institutes<br/>
						<span>
					01 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Meeting<br/>
						<span>
					01 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Joinwork<br/>
						<span>
					01 </span></label>	
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					<label>Campaign<br/>
					<span>
					00 </span></label>	
				</a>
			</li>
		
		</ul>
		<div class="frAppointmentStyle row">
			<div class="col-md-3 col-sm-3">
			<input type="checkbox" class="customCheckbox" />
			<a href="#">
				<img src="/images/dummy-image2.jpg">
			</a>
			</div>
			<ul class="col-md-6 col-sm-6">
				<li>
					<a href="#">
						<span class="fr fr-doctor"></span>
						<label>Dr. Anudeep</label>	
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fr fr-customer_username"></span>
						<label>24-7-365/D Ays IS Sadan ..Hyd</label>	
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fr fr-customer_username"></span>
						<label>Santosh Nagar (HQ)</label>	
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fr fr-customer_username"></span>
						<label>Yet to Start</label>	
					</a>
				</li>
				<li>
						<a href="#">
							<span class="fr fr-customer_username"></span>
							<label>Dr. Anudeep</label>	
						</a>
					</li>
					<li>
						<a href="#">
							<span class="fr fr-customer_username"></span>
							<label>24-7-365/D Ays IS Sadan</label>	
						</a>
					</li>
					<li>
						<a href="#">
							<span class="fr fr-customer_username"></span>
							<label>Santosh Nagar (HQ)</label>	
						</a>
					</li>
					<li>
						<a href="#">
							<span class="fr fr-customer_username"></span>
							<label>Yet to Start</label>	
						</a>
					</li>
			</ul>
			<div class="col-md-2 col-sm-2 timeStyle">
				<span class="fr fr-customer_username pull-right"></span>
					
			
				<label>
					10:00 am
				</label>
				<label class="summaryStyle">
				<span>
					<i class="fr fr-customer_username pull-left">
					</i>
					Summary
				</span>
			
				</label>

			</div>
			<!-- <div class="col-md-1 col-sm-1 side_arrow">
					<span class="fa fa-chevron-left"></span>
			</div> -->
		</div>
</template>