<template name="frAppointmentListing">
	<div class="bread_crumb">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">1st level</a></li>
			<li><a href="#">2nd level</a></li>
		</ul>
	</div>
	<ul class="icon_list">
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Select All
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Sort/Filter
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Filter FWD/NFWD
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Edit Route
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					End Trip
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Create Adhoc	
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					04/Nov2017
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					Select one
				</a>
			</li>
		</ul>
		<ul class="icon_list">
			<li>
				<a href="#">
					<span class="fr fr-notification filterIconStyle"></span>
					<label>Doctors<br/>
					<span>10</span> </label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					<label>Chemists<br/>
					<span>
					03 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Hospitals<br/>
						<span>
					02 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Institutes<br/>
						<span>
					01 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Meeting<br/>
						<span>
					01 </span></label>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
						<label>Joinwork<br/>
						<span>
					01 </span></label>	
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fr fr-notification"></span>
					<label>Campaign<br/>
					<span>
					00 </span></label>	
				</a>
			</li>
		
		</ul>
</template>