


<template name="frLanding">
<div class="container-fluid fr_main_content">
    <div class="row">
    <div class="col-md-3">
    <div class="row progress_block">
      <div class="col-md-3 nopaddingright text-center">My Rank<br /><div class="fa fa-star fa-3x"><span>25</span></div>
      <span class="location">Zonal</span>
      </div>
      <div class="col-md-6 nopaddingright text-center">
        <div class="barWrapper">
          <span class="progressText">Sales Achieved</span>
          <div class="progress">
            <div class="progress-bar red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" > 
              <span class="popOver" data-toggle="tooltip" data-placement="top" title="#"> </span> 
              <span class="progress-value">Rs 24,000</span> 
            </div>
          </div>
          <span><b class="color_red">Target:</b>Rs.35,34,000</span>
        </div>
      </div>
      <div class="col-md-3 nopaddingright text-center">
      <b class="color_yellow font_lg">09</b><br />
      Days<br /> to go
      </div>
    </div>
   
      <div class="left_curve">
        <div class="box">
          <h1>Performance Analytics</h1>
            <ul class="md_scroll">
              <li>
                <b class="color_green">15 <span class="fa fa-eye color_yellow" aria-hidden="true"></span></b>
                <p>Dr.Call Average</p>
              </li>
              <li>
                <b class="color_green">32% <span class="fa fa-eye color_yellow" aria-hidden="true"></span></b>
                <p>Dr.Coverage %</p>
              </li>
              <li>
                <b class="color_green">23</b>
                <p>Budget Target Achieved</p>
              </li>
              <li>
                <b class="color_green">8%</b>
                <p>HQ Receivable % Avg [ in Days ]</p>
              </li>
              <li>
                <b class="color_red">23</b>
                <p>Build Brand Target Achieved</p>
              </li>
              <li>
                <b class="color_red">6d <span class="fa fa-eye color_yellow" aria-hidden="true"></span></b>
                <p>Expenses Submission Pending</p>
              </li>
              <li>
                <b class="color_green">23</b>
                <p>Inventory Request Pending</p>
              </li>
              <li>
                <b class="color_green">2</b>
                <p>New Travel Requests</p>
              </li>
              <li>
                <b class="color_green">5</b>
                <p>Joint Work Request Pending</p>
              </li>
              <li>
                <b class="color_green">4 <span class="fa fa-eye color_yellow" aria-hidden="true"></span></b>
                <p>New Updates From Manager</p>
              </li>
            </ul>
        </div>
      </div>
  
    </div>
    <div class="col-md-6">

        <div class="swiper-container swiper-month">
          <div class="swiper-wrapper">
            <div class="swiper-slide">January</div>
            <div class="swiper-slide">February</div>
            <div class="swiper-slide">March</div>
            <div class="swiper-slide">April</div>
            <div class="swiper-slide">May</div>
            <div class="swiper-slide">June</div>
            <div class="swiper-slide">July</div>
            <div class="swiper-slide">August</div>
            <div class="swiper-slide">September</div>
            <div class="swiper-slide">October</div>
            <div class="swiper-slide">November</div>
            <div class="swiper-slide">December</div>
          </div>
        <!-- Add Arrows -->
        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"><span class="fa fa-caret-left fa-2x"></span></div>
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"><span class="fa fa-caret-right fa-2x"></span></div>
        </div>
        <div class="swiper-container swiper-day">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><p class="date_swipe"><b></b>01</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>02</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>03</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>04</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>05</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>06</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>07</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>08</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>09</p></div>
            <div class="swiper-slide"><p class="date_swipe"><b></b>10</p></div>
          </div>
           <!-- Add Arrows -->
         <div class="swiper-button-prev-day" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"><span class="fa fa-caret-left fa-2x"></span></div>
         <div class="swiper-button-next-day" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"><span class="fa fa-caret-right fa-2x"></span></div>
        </div>
      <div class="middle_curve">
      <h1>
        <span class="pull-left">
          <b>Territory:</b> Hyd
        </span>
        <span class="pull-right">
          <b>Circuit For:</b> 04th Nov 2017 (Saturday)
        </span>
      </h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3806.2034899438754!2d78.3610176144399!3d17.449971888041144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1516088529552" frameborder="0" style="border:0"></iframe>

        <div class="row">
          <div class="col-md-6 border-right-white">
            <ul class="left">
              <li>                
                <b class="color_green">15</b>
                <p><i class="fa fa-eye pull-right fa-2x color_yellow" aria-hidden="true"></i>Total<br /> Appointments</p>
              </li>
              <li>
                <b class="color_yellow">07</b>
                <p>Appointments<br /> Completed</p>
              </li>
              <li>
                <b class="color_yellow">03</b>
                <p>Appointments<br /> Missed</p>
              </li>
              <li>
                <b class="color_yellow">03</b>
                <p>Appointments<br /> Re-Scheduled</p>
              </li>
              <li>
                <b class="color_yellow">02</b>
                <p>Appointments<br /> Cancelled</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="right">
              <li>
                <span><b class="color_green">06</b>/<b class="color_green">10</b></span>
                <p>Doctors<br /> [Achieved/Planned]</p>
              </li>
              <li>
                <span><b class="color_green">03</b>/<b class="color_red">10</b></span>
                <p>Pharmacists<br /> [Achieved/Planned]</p>
              </li>
              <li>
                <span><b class="color_green">01</b>/<b class="color_green">03</b></span>
                <p>Hospitals<br /> [Achieved/Planned]</p>
              </li>
              <li>
                <span><b class="color_yellow">03</b>/<b class="color_yellow">03</b></span>
                <p>Distributors<br /> [Achieved/Planned]</p>
              </li>
              <li>
                <span><b class="color_green">00</b>/<b class="color_green">00</b></span>
                <p>Instituions<br /> [Achieved/Planned]</p>
              </li>
            </ul>
          </div>
         
          <div class="col-md-2 text-right focusMargin color_yellow">Arrow<br/>Head</div>
       
          <div class="col-md-7 swiper-container offline_list"> 
              <ul class="swiper-wrapper">
                  <li class="swiper-slide">
                    <a href="#"><img src="/images/dummy-image2.jpg"></a>
                  </li>
                  <li class="swiper-slide">
                      <a href="#"><img src="/images/dummy-image2.jpg"></a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#"><img src="/images/dummy-image2.jpg"></a>
                      </li>
                      <li class="swiper-slide">
                          <a href="#"><img src="/images/dummy-image2.jpg"></a>
                        </li>
                        <li class="swiper-slide">
                            <a href="#"><img src="/images/dummy-image2.jpg"></a>
                          </li>
                          <li class="swiper-slide">
                              <a href="#"><img src="/images/dummy-image2.jpg"></a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#"><img src="/images/dummy-image2.jpg"></a>
                              </li>

                </ul>
        </div>
      
        
      
          <div class="col-md-3 text-left offlineMargin">
            <span class="fr fr-offline_download"></span>
            <label> Offline <br/>Download</label>
          </div>
      
        </div>
        
      </div>
    </div>
    <div class="col-md-3">
      <div class="row progress_block">
        <div class="col-md-8">
          <div class="barWrapper">
            <span class="progressText">Revenue Per Division</span>
            <div class="progress tooltip_none">
              <div class="progress-bar yellow" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" > 
                <span class="popOver" data-toggle="tooltip" data-placement="top" title="#"> </span> 
                <span class="progress-value">Rs 24,000</span> 
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Spnd Per Division</span>
            <div class="progress tooltip_none">
              <div class="progress-bar yellow" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" > 
                <span class="popOver" data-toggle="tooltip" data-placement="top" title="#"> </span> 
                <span class="progress-value">Rs 24,000</span> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"><br/><br/>
          <b class="color_yellow font_lg">8<sub>X</sub></b><br />
        </div>
      </div>
      <div class="right_curve">
        <div class="box">
        <h1>Relationship Analytics</h1>
        <ul class="md_scroll">
          <li>
            <p>Distributors</p>
            <span class="circle md border-yellow">229</span>
            <span class="circle xs fill-white border-yellow"><span class="fr fr-campaigns_input"></span>6%</span>
          </li>
          <li>
            <p>Pharmacists</p>
            <span class="circle md border-red">25</span>
            <span class="circle xs fill-white border-red"><span class="fr fr-campaigns_input"></span>5%</span>
          </li>
          <li>
            <p>Doctors</p>
            <span class="circle md border-red">22</span>
            <span class="circle xs fill-white border-red"><span class="fr fr-campaigns_input"></span>5%</span>
          </li>
          <li>
            <p>Hospitals</p>
            <span class="circle md border-yellow">45</span>
            <span class="circle xs fill-white border-yellow"><span class="fr fr-campaigns_input"></span>6%</span>
          </li>
          <li>
            <p>Institutions</p>
            <span class="circle md border-green">15</span>
            <span class="circle xs fill-white border-green"><span class="fr fr-campaigns_input"></span>5%</span>
          </li>
        </ul>
      
        </div>
      </div>
    </div>
  </div>
  </div>
</template>