<template name="frFooter">
	<footer>
  <div class="footer_arrow">
    <span class="fr fa fa-angle-double-down"></span>
  </div>
    <ul>
      <li>
        <a href="#">
          <span class="fr fr-library"></span>
          Library
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-playlist"></span>
          Playlist
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-newsfeed"></span>
          Newsfeed
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-e-learning"></span>
          e-Learning
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-campaigns"></span>
          Campaigns
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-wifi"></span>
          Relations
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-inventory"></span>
          Inventory
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-reports_forms"></span>
          Reports
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-reports_forms"></span>
          Forms
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fr fr-appointment_listing"></span>
          Appointment Listing
        </a>
      </li>
    </ul>
  </footer>
</template>