@media only screen and (max-width: 1024px) 
 {
   .main_logo{
       width:93%;
   }
   .right_curve .box ul li .xs{
    top: 15px;
    right: 13px;
   }
   .offlineMargin{
    
   span{
     font-size:10px;

   }
   label{
    font-size:10px;
   }
    }
    .swiper-button-next-day{
     
      padding-left:6px;
    }
  .left_curve ul li p {font-size:11px;}
}