// Dark Theme
// Variables




$color-black : #000;
$color-white : #fff;
$color-alpha : #ff0000;
$font-size:52px;
$display-none:none;

///////////  Colors Variable Starts //////////////////////////////

$dr-black-color:#000;
$dr-white-color:#fff;
$dr-yellow-color:#ffde00;
$dr-green-color:#18b657;
$dr-red-color:#ed1c24;
$dr-gray-color:#a1a1a1;
$dr-blue-color:#2ba4be;

///////////  Colors Variable Ends //////////////////////////////


///////////  Font sizes Variable Starts //////////////////////////////

$dr-font-xs:8px;
$dr-font-sm:12px;
$dr-font-md:22px;
$dr-font-lg:32px;

///////////  Font sizes Variable Ends //////////////////////////////


$dr-border-mxs:1px;
$dr-border-xs:2px;
$dr-border-sm:3px;
$dr-border-md:5px;
$dr-border-lg:7px;