// Light Theme
// Variables


$lt-black-color:#fff;
$lt-white-color:#000;
$lt-yellow-color:#ffde00;
$lt-green-color:#00a74f;
$lt-red-color:#eb1c23;
$lt-gray-color:#ccd0cf;

///////////  Font sizes Variable Starts //////////////////////////////

$lt-font-xs:8px;
$lt-font-sm:12px;
$lt-font-md:22px;
$lt-font-lg:32px;

///////////  Font sizes Variable Ends //////////////////////////////

$lt-border-xxs:1px;
$lt-border-xs:1px;
$lt-border-sm:3px;
$lt-border-md:5px;
$lt-border-lg:7px;